h1 {
	color: #ec0500;
}

strong {
	font-size: 1.2em;
}

em {
	font-style: italic;
}

p {
	text-align: justify;
	text-justify:inter-word;
	margin-bottom: 0.9em;
}

sup {
	font-size: 0.5em;
	vertical-align: super;
	color: #a1320e;
}

.note {
	font-size: 0.7em;
	text-align: justify;
	text-justify:inter-word;
}